<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895206779911-vq65m1dcqj17ofo0idocs4a7v2e4fnet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895206779911-vq65m1dcqj17ofo0idocs4a7v2e4fnet</string>
	<key>API_KEY</key>
	<string>AIzaSyAWFNuf9QigzEGdBXP9VhGvWnao6RQTlD8</string>
	<key>GCM_SENDER_ID</key>
	<string>895206779911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.craunincproductions.NPCGen-Assist</string>
	<key>PROJECT_ID</key>
	<string>npcgen5e-debug</string>
	<key>STORAGE_BUCKET</key>
	<string>npcgen5e-debug.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895206779911:ios:34a52e524341e7a1a44ea2</string>
	<key>DATABASE_URL</key>
	<string>https://npcgen5e-debug-default-rtdb.firebaseio.com</string>
</dict>
</plist>